body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1{
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav a {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: orange;
  width: 50%;

}

figcaption{
  text-align: center;
  font-size: 15px;
}

#featured-property p {
  width:800px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#details {
  display:block;

  
}

div {
  float:left;
  background-color: red;
  text-align: center;
  width:25%;
}








